footer#sweet.site-footer {
	display: flex;
	flex-direction: row;
	margin: 0;
	width: 100%;
	height: 60px;
	align-items: center;
	background-color: $general-primary-color;
	padding: 0 50px;
	color: $theme-main-color;
	justify-content: right;
	font-size: 50px;
	font-family: $second-font;

	a.powered-by {
		flex: auto;
		font-size: 13px;
		span {
			font-family: 'Open Sans Condensed';
			color: #f10e2d5e;
		}
	}
}
