/**
* Styles for pages.
*/
body.page {
	background-color: $general-primary-color;

	main {
		max-width: 100%;
		margin: 60px auto 0;

		h1.entry-title {
			display: none;
		}

		section {
			min-height: 400px;
			padding: 10px 25px;

			article {
				h1, h2 {
					color: $theme-main-color;
					font-family: $theme-main-font;
					text-align: center;
					font-size: 24px;
				}

				p {
					font-size: 18px;
					font-family: $second-font;
					color: $color-black;

					del {
						text-decoration: line-through;
					}

					strong {
						color: $theme-main-color;
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	body {
		main {
			max-width: 100%;
			margin: 45px auto 0;

			section {
				article {

					h1, h2 {
						font-size: 40px;
					}

					p {
						font-size: 24px;
					}
				}
			}
		}
	}
}
