/**
* Skeleton, generic styles.
*/

* {
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

p {
	font-family: $second-font;
}

body {
	main {
	}
}
