/**
* Main Styles.
*/

// sass main.scss ../style.min.css --style=compressed

$breakpoint-tablet: 650px;
$breakpoint-desktop: 1024px;

$theme-main-color: #f10e2d;
$color-black: #000;
$color-white: #FEFAFC;
$color-pink: #f1b1b3;

$theme-main-font: 'Raleway';

$img-directory: "img";


@import '_normalize';
@import '_fonts';
@import '_skeleton';
@import '_body-changes';
// @import '_header';
@import '_footer';
@import '_pages';
